attrs==21.4.0
eventemitter==0.2.0
iniconfig==1.1.1
llvmlite==0.38.1
mypy==0.961
mypy-extensions==0.4.3
numba==0.55.2
numpy==1.22.4
overrides==6.1.0
packaging==21.3
pluggy==1.0.0
py==1.11.0
pygame==2.1.2
pyparsing==3.0.9
pytest==7.1.2
svg.path==6.2
tomli==2.0.1
typing-utils==0.1.0
typing_extensions==4.3.0
