cycler==0.11.0
fonttools==4.36.0
kiwisolver==1.4.4
llvmlite==0.40.1
matplotlib==3.7.0
numba==0.57.1
numpy==1.24.0
overrides==6.2.0
packaging==21.3
pandas==2.0.3
Pillow==9.2.0
pygame==2.5.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.2.1
scipy==1.11.1
seaborn==0.11.2
six==1.16.0
